/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Red: hsl(0, 100%, 74%) 
- Green: hsl(154, 59%, 51%)

### Accent

- Blue: hsl(248, 32%, 49%)

### Neutral

- Dark Blue: hsl(249, 10%, 26%) 
- Grayish Blue: hsl(246, 25%, 77%)

## Typography

### Body Copy

- Font size: 16px

### Font

- Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 400, 500, 600, 700 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

body{
    background-color: black;
    padding: 4rem 28rem 25rem ;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 15px;
    line-height: 1;
    font-weight: 400;
    
}
 
.reg-div{
    justify-content: left;
    padding: 10rem 4rem  4rem;
    background-color:hsl(0, 100%, 74%)  ;
    background-image: url("./img/bg-intro-desktop.png");
    height: 550px;
    
  


}
.display-div{
   
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    justify-content: left;
    
}
.text-div{
    padding: 10rem 4rem 0 ;
}
.bold-text{
    font-weight: 900;
    font-size: 34px;
    padding-top: 6rem;
}
.thin-text{
    font-weight: 400;
    font-size: 11px;
    padding:  0 4rem 0 ;
    line-height: 1.8;
    

}
.bold-text, .thin-text{
    justify-content: center;
    margin: 2rem;
    width: 200%;

}
.freetrial-btn{
    width: 95%;
    height: 3.5rem;
    padding: 4px;
    margin: 8px 8px;
    background-color:hsl(248, 32%, 49%);
    box-shadow:0 5px 0 0   rgba(172, 122, 122, 0.89) ;
    font-size: 11px;
    border: none;
    color: white;
    font-weight:600;
    border-radius: 3px;
    
}
.form-div{
    padding: 10px;
}
form{
    background-color: whitesmoke;
    width: 100%;
    padding: 2rem;
    border-radius:5px ;
    box-shadow:0 5px 0 0   rgba(172, 122, 122, 0.89) ;
}
input{
    width: 100%;
    height: 4rem;
    padding: 6px;
    border-radius: 5px ;
    border: 2px whitesmoke;
}
.input-div{
    padding: 6px;
}
.claimfree-btn{
    width: 95%;
    height: 3.5rem;
    padding: 4px;
    margin: 12px 12px;
    background-color:hsl(154, 59%, 51%);
    font-size: 11px;
    border: none;
    color: white;
    font-weight:600;
    border-radius: 3px;
}
.click-comment{
    color: hsl(246, 25%, 77%);
    font-size: 8px;
    padding: px;
    margin-left: 12px;
    text-align: center;
}
.terms-link{
    text-decoration: none;
    outline: none;
    color:hsl(0, 100%, 74%) ;
    font-weight:700;
}
/* mobile view */
@media (max-width:375px){

    body{
        width:375px ;
        height: 964px;
        background-color:hsl(0, 100%, 74%)  ;
        background-image: url("./img/mobile-design.jpg");
        background-repeat: no-repeat;
        padding-right: 0;
    
        
    }
    .reg-div{
        /* justify-content: left; */
        /* width: 500px;      */
        display: grid;
        grid-template-columns:1fr;
        gap: 2rem;
        justify-content: left;
        
       
}
.display-div{
    display: none;
}
}